@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.currentTime {
    font-size: 42px;
    font-family: 'Orbitron', sans-serif;
    text-anchor: start;
    dominant-baseline: middle;
}

.currentSeriesTime {
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
    text-anchor: start;
    dominant-baseline: middle;
}

.currentPhaseTime {
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
    text-anchor: start;
    dominant-baseline: middle;
}

.mainButton {
    fill: #88FA4E;
    stroke: #017100;
    stroke-width: 5;
}

.secondaryButton {
    fill: #FF644E;
    stroke: #EE220C;
    stroke-width: 5;
}

.targetCircleGrey {
    fill: #D5D5D5;
    stroke: #000000;
    stroke-width: 5;
}

.targetCircleGreen {
    fill: #88FA4E;
    stroke: #017100;
    stroke-width: 5;
}

.targetCircleRed {
    fill: #FF644E;
    stroke: #EE220C;
    stroke-width: 5;
}

.targetCircleWhite {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 5;
}

.shootIntentNumber {
    font-size: 12px;
    font-family: 'Orbitron', sans-serif;
    text-anchor: middle;
    dominant-baseline: middle;
}

.shootIntentTime {
    font-size: 12px;
    font-family: 'Orbitron', sans-serif;
    text-anchor: middle;
    dominant-baseline: middle;
}
